/* Global. */
body { 
  min-width: 570px; 
  padding: 20px; 
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
}
body.disabled {
  background-color: #ccc;
}
#logo {
  max-width: 25px;
  margin-right: 7px;
  margin-bottom: -3px;
}
#flash {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}
.button {
  padding: 10px 20px; 
  border: none;
  color: white;
  background-color: #007BFF;
  cursor: pointer; 
  transition: all 0.125s ease;
  border-radius: 2px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
}
.button:hover {
  background-color: #0056b3; 
}
a {
  transition: all 0.125s ease;
  text-decoration: none;
  color: #007BFF;
  cursor: pointer;
}
a,
a:link,
a:visited {
  color: #007BFF;
}
a:hover {
  color: #007BFF;
  background-color: #faedde;
}

/* Headings. */
h1 {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}
h4 {
  margin: 0;
  padding-top: 10px;
}
h4 a {
  color: #676767;
  text-decoration: none;
}
h4 a:hover {
  color: #007BFF;
  text-decoration: none;
}

/* Forms. */
.input {
  padding: 10px 14px;
  margin-right: 10px; 
  border: 1px solid #dddddd;
  border-radius: 2px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
}


/* Table */
#resultsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
#resultsTable th,
#resultsTable td {
  border: 1px solid #dddddd;
  padding: 8px;
}
#resultsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #dddddd;
}
#resultsTable a {
  color: #131313;
}
#resultsTable a:hover {
  color: #333333;
  background-color: #fdfdfd;
}

/* Download Results */
#downloadResultsSection {
  display: inline-block;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.count {
  background-color: #fafafa;
  text-align: center;
  font-size: 0.8em;
  color: #939393;
  font-style: italic;
  border-right-color: #fefefe;
}



/* Disabled */
body:not(.disabled) #disabled-view {
  display: none;
}
body.disabled #scraper-view {
  display: none;
}